.nav {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: #7289da;
  a {
    text-decoration: none;
    color: black;
    padding: 1rem;
  }
}

.activeStyles {
  font-weight: bold;
  text-decoration: 'underline';
  color: #161616;
}
